@model SailorDomain.Entities.VesselCertificate

@{
    ViewBag.Title = "船舶证书详情";
}

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
    <div class="container">
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                @Html.ActionLink("首页", "Index", "Home")
                <i class="fa fa-circle"></i>
            </li>
            <li>
                @Html.ActionLink("船舶证书管理", "Index")
                <i class="fa fa-circle"></i>
            </li>
            <li class="active">
                @ViewBag.Title
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->

        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-th font-green-sharp"></i>
                            <span class="caption-subject font-green-sharp bold uppercase">船舶证书信息</span>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <form class="form-horizontal" role="form">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                <p class="form-control-static">
                                                    @Html.DisplayFor(model => model.Name)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.VesselName, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                <p class="form-control-static">
                                                    @Html.ActionLink(Model.VesselName, "Details", "Vessel", new { id = Model.VesselID }, null)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                <p class="form-control-static">
                                                    @Html.DisplayFor(model => model.Code)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->

                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                有效日期
                                            </label>
                                            <div class="col-md-9">
                                                <p class="form-control-static">
                                                    @Html.DisplayFor(model => model.IssueDate) ~ @Html.DisplayFor(model => model.ExpiryDate)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ExpiryNoticeDate, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                <p class="form-control-static">
                                                    @Html.DisplayFor(model => model.ExpiryNoticeDate)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CheckBeginDate, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                <p class="form-control-static">
                                                    @Html.DisplayFor(model => model.CheckBeginDate) ~ @Html.DisplayFor(model => model.CheckEndDate)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CheckNoticeDate, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                <p class="form-control-static">
                                                    @Html.DisplayFor(model => model.CheckNoticeDate)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/row-->
                                <div class="row">
                                    @if (Model.FileID.HasValue)
                                    {
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">证书预览</label>
                                                <div class="col-md-9">
                                                    @if (ViewBag.FileType == "application/pdf")
                                                    {
                                                        <object data="@Url.Action("GetFile","UploadFile",new {id=Model.FileID})" type="application/pdf" width="300px" height="300px"></object>
                                                    }
                                                    else
                                                    {
                                                        <img src="@Url.Action("GetFile", "UploadFile", new {id = Model.FileID})" style="max-height: 300px; max-width: 300px;"/>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    <!--/span-->
                                    }

                                </div>
                                <!--/row-->

                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <a href="@Url.Action("Edit", new { id = Model.VesselCertificateID })" class="btn green"><i class="fa fa-pencil"></i> 编辑</a>
                                                <a href="@Url.Action("Index")" class="btn default"><i class="fa fa-undo"></i> 返回列表</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT -->
