@model Sailor

@{
    ViewBag.Title = "新增船员";
}

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
    <div class="container">
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                @Html.ActionLink("首页", "Index", "Home")
                <i class="fa fa-circle"></i>
            </li>
            <li>
                @Html.ActionLink("船员管理", "Index")
                <i class="fa fa-circle"></i>
            </li>
            <li class="active">
                @ViewBag.Title
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->

        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("Create", "Sailor", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="tabbable tabbable-custom tabbable-noborder tabbable-reversed">
                        <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab_0" data-toggle="tab">
                                船员基本资料
                            </a>
                        </li>
                         <li>
                             <a href="#tab_1" data-toggle="tab">
                                    照片上传
                                </a>
                            </li>

                        <li>
                            <a href="#tab_2" data-toggle="tab">
                                体貌特征
                            </a>
                        </li>
                        <li>
                            <a href="#tab_3" data-toggle="tab">
                                个人账号
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_0">
                            <div class="portlet light">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-user font-green-sharp"></i>
                                        <span class="caption-subject font-green-sharp bold uppercase">船员基本资料</span>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3" for="Name">
                                                        @Html.DisplayNameFor(model => model.Name)
                                                        <span class="required" aria-required="true">*</span>
                                                    </label>
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Name)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.EnglishName, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.EnglishName, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.EnglishName)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Post, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.Post, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Post)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3" for="IdentityNo">
                                                        @Html.DisplayNameFor(model => model.IdentityNo)
                                                        <span class="required" aria-required="true">*</span>
                                                    </label>
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.IdentityNo, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.IdentityNo)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3" for="Birthplace">
                                                        @Html.DisplayNameFor(model => model.Birthplace)
                                                        <span class="required" aria-required="true">*</span>
                                                    </label>
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.Birthplace, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Birthplace)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3" for="Birthday">
                                                        @Html.DisplayNameFor(model => model.Birthday)
                                                        <span class="required" aria-required="true">*</span>
                                                    </label>
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.Birthday)
                                                        @Html.ValidationMessageFor(model => model.Birthday)
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.Gender, "Enum-radio")
                                                        @Html.ValidationMessageFor(model => model.Gender)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Marital, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.Marital, "Enum-radio")
                                                        @Html.ValidationMessageFor(model => model.Marital)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Ethnic, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.Ethnic, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Ethnic)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.EnglishLevel, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.EnglishLevel, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.EnglishLevel)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Source, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.Source, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Source)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Degree, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.Degree, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Degree)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Mobile, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Mobile)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Email)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.HomeContacter, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.HomeContacter, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.HomeContacter)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.HomeTel, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.HomeTel, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.HomeTel)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.WorkInDate, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.WorkInDate)
                                                        @Html.ValidationMessageFor(model => model.WorkInDate)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.ComeInDate, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.ComeInDate)
                                                        @Html.ValidationMessageFor(model => model.ComeInDate)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.EnrollmentDate, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.EnrollmentDate)
                                                        @Html.ValidationMessageFor(model => model.EnrollmentDate)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.GraduateDate, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.GraduateDate)
                                                        @Html.ValidationMessageFor(model => model.GraduateDate)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->

                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.EducationDegree, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.EducationDegree, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.EducationDegree)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Major, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.Major, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Major)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.GraduateCollege, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.GraduateCollege, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.GraduateCollege)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Address)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Remark, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Remark)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <button type="submit" class="btn green"><i class="fa fa-save"></i> 保存</button>
                                                        <a href="@Url.Action("Index")" class="btn default"><i class="fa fa-undo"></i> 返回列表</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_1">
                            <div class="portlet light">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-instagram font-green-sharp"></i>
                                        <span class="caption-subject font-green-sharp bold uppercase">照片上传</span>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">上传照片</label>
                                                    <div class="col-md-9">
                                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                                            <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="height: 300px; width: 300px;"></div>
                                                            <div>
                                                                <span class="btn btn-default btn-file">
                                                                    <span class="fileinput-new">选择图片</span>
                                                                    <span class="fileinput-exists">更改</span>
                                                                    <input type="file" name="uploadFile">
                                                                </span>
                                                                <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">移除</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <button type="submit" class="btn green"><i class="fa fa-save"></i> 保存</button>
                                                        <a href="@Url.Action("Index")" class="btn default"><i class="fa fa-undo"></i> 返回列表</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_2">
                            <div class="portlet light">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-columns font-green-sharp"></i>
                                        <span class="caption-subject font-green-sharp bold uppercase">体貌特征</span>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Height, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        <div class="input-group">
                                                            @Html.EditorFor(model => model.Height, new { htmlAttributes = new { @class = "form-control" } })
                                                            <span class="input-group-addon">
                                                                CM
                                                            </span>
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.Height)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Weight, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        <div class="input-group">
                                                            @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control" } })
                                                            <span class="input-group-addon">
                                                                KG
                                                            </span>
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.Weight)
                                                        </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Blood, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.Blood, "Enum-radio")
                                                        @Html.ValidationMessageFor(model => model.Blood)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Sleeve, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.Sleeve, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Sleeve)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Collar, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.Collar, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Collar)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Waist, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.Waist, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Waist)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Chest, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.Chest, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Chest)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.CoatLength, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.CoatLength, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.CoatLength)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.TrouserLength, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.TrouserLength, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.TrouserLength)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.ShoeSize, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.ShoeSize, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.ShoeSize)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.HatSize, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.HatSize, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.HatSize)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <button type="submit" class="btn green"><i class="fa fa-save"></i> 保存</button>
                                                        <a href="@Url.Action("Index")" class="btn default"><i class="fa fa-undo"></i> 返回列表</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_3">
                            <div class="portlet light">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-credit-card font-green-sharp"></i>
                                        <span class="caption-subject font-green-sharp bold uppercase">个人账号</span>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.WageCardNo, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.WageCardNo, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.WageCardNo)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Bank, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.Bank, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Bank)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.AccountName, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.AccountName, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.AccountName)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.SocialInsuranceNo, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.SocialInsuranceNo, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.SocialInsuranceNo)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.UnemployBenefitNo, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.UnemployBenefitNo, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.UnemployBenefitNo)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.PensionNo, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.PensionNo, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.PensionNo)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.MedicalInsuranceNo, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.MedicalInsuranceNo, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.MedicalInsuranceNo)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.ProvidentFundNo, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.ProvidentFundNo, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.ProvidentFundNo)
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            @*<div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.ManagementFee, new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.ManagementFee, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.ManagementFee)
                                                    </div>
                                                </div>
                                            </div>*@
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <button type="submit" class="btn green"><i class="fa fa-save"></i> 保存</button>
                                                    <a href="@Url.Action("Index")" class="btn default"><i class="fa fa-undo"></i> 返回列表</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    
                    </div>
                }
                </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT -->

@section scripts{
    <script src="~/assets/scripts/transformation.js"></script>
    }
