@model SailorDomain.Entities.Certificate

@{
    ViewBag.Title = "编辑证书";
}

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
    <div class="container">
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                @Html.ActionLink("首页", "Index", "Home")
                <i class="fa fa-circle"></i>
            </li>
            <li>
                @Html.ActionLink("证书管理", "Index")
                <i class="fa fa-circle"></i>
            </li>
            <li class="active">
                @ViewBag.Title
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->

        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-edit font-green-sharp"></i>
                            <span class="caption-subject font-green-sharp bold uppercase">编辑证书信息</span>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        @using (Html.BeginForm("Edit", "Certificate", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                        {
                            <div class="form-body">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(model => model.CertificateID)
                                @Html.HiddenFor(model => model.FileID)
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3" for="Name">
                                                @Html.DisplayNameFor(model => model.Name)
                                                <span class="required" aria-required="true">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control typeahead" } })
                                                @Html.ValidationMessageFor(model => model.Name)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3" for="SailorID">
                                                @Html.DisplayNameFor(model => model.SailorID)
                                                <span class="required" aria-required="true">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                @Html.DropDownList("SailorID", null, String.Empty, new { @class = "form-control select2me" })
                                                @Html.ValidationMessageFor(model => model.SailorID)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Code)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.IssuePlace, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.IssuePlace, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.IssuePlace)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">有效日期</label>
                                            <div class="col-md-9">
                                                <div class="input-group date-picker input-daterange">
                                                    @Html.TextBoxFor(model => model.IssueDate, "{0:yyyy-MM-dd}", new { @class = "form-control" })
                                                    <span class="input-group-addon">
                                                        --
                                                    </span>
                                                    @Html.TextBoxFor(model => model.ExpiryDate, "{0:yyyy-MM-dd}", new { @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.IssueDate)
                                                @Html.ValidationMessageFor(model => model.ExpiryDate)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.NoticeDate, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.NoticeDate, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.NoticeDate)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.VesselDegree, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.VesselDegree, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.VesselDegree)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Degree, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.Degree, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Degree)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MaritimeBureau, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.MaritimeBureau, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MaritimeBureau)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Department, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Department)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Nationality, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.Nationality, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Nationality)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">上传证书</label>
                                            <div class="col-md-9">
                                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="height: 300px; width: 300px;"></div>
                                                    <div>
                                                        <span class="btn btn-default btn-file"><span class="fileinput-new">选择图片</span><span class="fileinput-exists">更改</span><input type="file" name="certificateFile"></span>
                                                        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">移除</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    @if (Model.FileID.HasValue)
                                    {
                                        <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">已上传证书</label>
                                            <div class="col-md-9">
                                                <img src="@Url.Action("GetFile", "UploadFile", new { id=Model.FileID})" style="max-height: 300px; max-width: 300px;" />
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    }
                                    
                                </div>
                                <!--/row-->

                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button type="submit" class="btn green"><i class="fa fa-save"></i> 保存</button>
                                                <a href="@Url.Action("Index")" class="btn default"><i class="fa fa-undo"></i> 返回列表</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- END FORM-->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT -->

@section scripts{
    <script>
        $(function () {
            $('#ExpiryDate').parent().datepicker({
                rtl: Metronic.isRTL(),
                format: "yyyy-mm-dd",
                language: "zh-CN",
                todayHighlight: true,
                autoclose: true
            }).on("changeDate", function (e) {
                var expiryDate = $('#ExpiryDate').val();
                var noticeDate = new Date(expiryDate.replace(/-/g, "/"));
                noticeDate.setMonth(noticeDate.getMonth() - 3);
                $('#NoticeDate').parent().datepicker('setDate', noticeDate);
            });

            var vesselListUrl = '@Url.Action("GetVessels", "Vessel")';
            var vesselUrl = '@Url.Action("GetVessel", "Vessel")';
            Metronic.handleVesselShipowner(vesselListUrl, vesselUrl);

            var certificateUrl = '@Url.Action("GetSailorCertificates", "CertificateType")';

            var bestPictures = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                //prefetch: allcompanyUrl,
                remote: {
                    url: certificateUrl + '?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#Name').typeahead(null, {
                name: 'best-pictures',
                display: 'Name',
                source: bestPictures
            });

        });

    </script>
}
