@model IEnumerable<SailorDomain.Entities.Notice>

<!-- BEGIN NOTIFICATION DROPDOWN -->
<li class="dropdown dropdown-extended dropdown-dark dropdown-notification" id="header_notification_bar">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <i class="icon-bell"></i>
        <span class="badge badge-default">@Model.Count()</span>
    </a>
    <ul class="dropdown-menu">
        <li class="external">
            <h3>您有 <strong>@Model.Count() 条</strong> 新消息</h3>
            <a target="_blank" href="@Url.Action("Index","Notice")">查看所有</a>
        </li>
        <li>
            <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                @foreach (var item in Model)
                {
                    <li>
                    <a target="_blank" href="@Url.Action("Details", item.Source.ToString(), new { id=item.SourceID})">
                        @if (item.Deadline > DateTime.Now.Date)
                        {
                            TimeSpan ts = item.Deadline - DateTime.Now.Date;
                            <span class="time">还有 @ts.Days 天到期</span>
                        <span class="details">
                            <span class="label label-sm label-icon label-info">
                                <i class="fa fa-bullhorn"></i>
                            </span>
                            @Html.DisplayFor(modelItem=>item.Content)
                        </span>
                        }
                        else if (item.Deadline == DateTime.Now.Date)
                        {
                            <span class="time">今日到期</span>
                        <span class="details">
                            <span class="label label-sm label-icon label-warning">
                                <i class="fa fa-bell-o"></i>
                            </span>
                            @Html.DisplayFor(modelItem=>item.Content)
                        </span>
                        }
                        else
                        {
                            TimeSpan ts = DateTime.Now.Date - item.Deadline;
                            <span class="time">已过期 @ts.Days 天</span>
                        <span class="details">
                            <span class="label label-sm label-icon label-danger">
                                <i class="fa fa-bolt"></i>
                            </span>
                            @Html.DisplayFor(modelItem=>item.Content)
                        </span>
                        }
                        
                    </a>
                    </li>
                }
            </ul>
        </li>
    </ul>
</li>
<!-- END NOTIFICATION DROPDOWN -->
