@model LaborSupplyTake

<div class="modal fade" id="takeModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 id="myLargeModalLabel" class="modal-title">劳保用品领取</h4>
            </div>
            <div class="portlet light">
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form asp-controller="LaborSupply" asp-action="SupplyTake" ajax-success="processSuccess" class="form-horizontal" role="form">
                        <div class="form-body">
                            <div asp-validation-summary="ModelOnly"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.LaborSupply.Name, new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    <p class="form-control-static">
                                        <span></span>
                                        @Html.HiddenFor(model => model.LaborSupplyID)
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TakeType, new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.TakeType, "Enum-radio")
                                    @Html.ValidationMessageFor(model => model.TakeType)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="Amount">
                                    @Html.DisplayNameFor(model => model.Amount)
                                    <span class="required" aria-required="true">*</span>
                                </label>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Amount)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Department, new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Department)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TakePerson, new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.TakePerson, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TakePerson)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Remark, new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Remark)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TakeDate, new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.TakeDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TakeDate)
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn green"><i class="fa fa-save"></i> 保存</button>
                                            <a class="btn default" href="javascript:void(0)" data-dismiss="modal"><i class="fa fa-undo"></i> 返回列表</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
</div>


