@model SailorDomain.Entities.VesselAccount

<div class="portlet light">
    <div class="portlet-body form">
        <form class="form-horizontal" role="form">
            <div class="form-body">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>
                                出账
                            </th>
                            <th>
                                余额
                            </th>
                            <th>
                                付款日期
                            </th>
                            <th>
                                备注
                            </th>
                            <th>
                                回单
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var payment in Model.VesselCostPayments.OrderBy(p => p.PaymentDate))
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => payment.Payment)
                                    @Html.DisplayFor(modelItem => payment.USPayment)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => payment.Debt)
                                    @Html.DisplayFor(modelItem => payment.USDebt)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => payment.PaymentDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => payment.Remark)
                                </td>
                                <td>
                                    @if (payment.ReceiptFileID.HasValue)
                                    {
                                        <a href="javascript:Metronic.showPicture('@payment.ReceiptFileID','回单预览')" class="btn default btn-xs green">
                                            <i class="icon-eye"></i> 预览
                                        </a>
                                    }
                                    @if (User.IsInRole("CompanyAdmin"))
                                    {
                                        <a href="javascript:Metronic.deleteItem('@Url.Action("DeletePayment", new { id = payment.VesselCostPaymentID })')" class="btn default btn-xs red">
                                            <i class="fa fa-trash"></i> 删除
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>

