@model SailorDomain.Entities.Trainee

<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-body form">
                <form class="form-horizontal" role="form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TrainingClass.Name, new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        <p class="form-control-static">
                                            @Html.ActionLink(Model.TrainingClass.Name, "Details", "TrainingClass", new { id = Model.TrainingClassID }, null)
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TrainingClass.Subject, new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        <p class="form-control-static">
                                            @Html.DisplayFor(model => model.TrainingClass.Subject)
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TrainingClass.BeginDate, new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        <p class="form-control-static">
                                            @Html.DisplayFor(model => model.TrainingClass.BeginDate)
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TrainingClass.EndDate, new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        <p class="form-control-static">
                                            @Html.DisplayFor(model => model.TrainingClass.EndDate)
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Expense, new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        <p class="form-control-static">
                                            @Html.DisplayFor(model => model.Expense)
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ExpenseClaim, new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        <p class="form-control-static">
                                            @Html.DisplayFor(model => model.ExpenseClaim)
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Remark, new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        <p class="form-control-static">
                                            @Html.DisplayFor(model => model.Remark)
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/row-->

                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
