@model VesselCertificate

@{
    ViewBag.Title = "新增船舶证书";
}

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
    <div class="container">
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                @Html.ActionLink("首页", "Index", "Home")
                <i class="fa fa-circle"></i>
            </li>
            <li>
                @Html.ActionLink("船舶证书管理", "Index")
                <i class="fa fa-circle"></i>
            </li>
            <li class="active">
                @ViewBag.Title
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->

        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-plus-square-o font-green-sharp"></i>
                            <span class="caption-subject font-green-sharp bold uppercase">新增船舶证书</span>
                        </div>
                        <div class="caption">
                            <span class="caption-subject bold note note-warning">船舶名称：@Context.Request.Query["VesselName"]</span>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        @using (Html.BeginForm("Create", "VesselCertificate", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                        {
                            <div class="form-body">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                @Html.Hidden("medium")
                                @Html.Hidden("VesselID", Context.Request.Query["VesselID"])
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3" for="Name">
                                                @Html.DisplayNameFor(model => model.Name)
                                                <span class="required" aria-required="true">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control typeahead" } })
                                                @Html.ValidationMessageFor(model => model.Name)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Code)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">有效日期</label>
                                            <div class="col-md-9">
                                                <div class="input-group date-picker input-daterange">
                                                    @Html.TextBoxFor(model => model.IssueDate, "{0:yyyy-MM-dd}", new { @class = "form-control" })
                                                    <span class="input-group-addon">
                                                        --
                                                    </span>
                                                    @Html.TextBoxFor(model => model.ExpiryDate, "{0:yyyy-MM-dd}", new { @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.IssueDate)
                                                @Html.ValidationMessageFor(model => model.ExpiryDate)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ExpiryNoticeDate, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.ExpiryNoticeDate, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ExpiryNoticeDate)
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CheckBeginDate, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                <div class="input-group date-picker input-daterange">
                                                    @Html.TextBoxFor(model => model.CheckBeginDate, "{0:yyyy-MM-dd}", new { @class = "form-control" })
                                                    <span class="input-group-addon">
                                                        --
                                                    </span>
                                                    @Html.TextBoxFor(model => model.CheckEndDate, "{0:yyyy-MM-dd}", new { @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.CheckBeginDate)
                                                @Html.ValidationMessageFor(model => model.CheckEndDate)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CheckNoticeDate, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.CheckNoticeDate, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.CheckNoticeDate)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">上传证书</label>
                                            <div class="col-md-9">
                                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="height: 300px; width: 300px;"></div>
                                                    <div>
                                                        <span class="btn btn-default btn-file"><span class="fileinput-new">选择图片</span><span class="fileinput-exists">更改</span><input type="file" name="certificateFile"></span>
                                                        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">移除</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">

                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->

                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button type="submit" class="btn green"><i class="fa fa-save"></i> 保存</button>
                                                <a href="@Url.Action("Index")" class="btn default"><i class="fa fa-undo"></i> 返回列表</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- END FORM-->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT -->
@section scripts{
    <script>
        $(function () {
            $('#ExpiryDate').parent().datepicker({
                rtl: Metronic.isRTL(),
                format: "yyyy-mm-dd",
                language: "zh-CN",
                todayHighlight: true,
                autoclose: true
            }).on("changeDate", function (e) {
                var expiryDate = $('#ExpiryDate').val();
                var noticeDate = new Date(expiryDate.replace(/-/g, "/"));
                noticeDate.setMonth(noticeDate.getMonth() - 3);
                $('#ExpiryNoticeDate').parent().datepicker('setDate', noticeDate);
            });

            $('#CheckBeginDate').parent().datepicker({
                rtl: Metronic.isRTL(),
                format: "yyyy-mm-dd",
                language: "zh-CN",
                todayHighlight: true,
                autoclose: true
            }).on("changeDate", function (e) {
                var expiryDate = $('#CheckBeginDate').val();
                var noticeDate = new Date(expiryDate.replace(/-/g, "/"));
                $('#CheckNoticeDate').parent().datepicker('setDate', noticeDate);
            });

            var VesselID = '@Context.Request.Query["VesselID"]';
            if (VesselID) {
                $('#VesselID').select2("readonly", true);
            }

            var certificateUrl = '@Url.Action("GetVesselCertificates", "CertificateType")';

            var bestPictures = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                //prefetch: allcompanyUrl,
                remote: {
                    url: certificateUrl + '?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#Name').typeahead(null, {
                name: 'best-pictures',
                display: 'Name',
                source: bestPictures
            });

        });

    </script>
}
