@model IPagedList<VesselBalance>

@{
    ViewBag.Title = "船舶账户余额";
}

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
    <div class="container">
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                @Html.ActionLink("首页", "Index", "Home")
                <i class="fa fa-circle"></i>
            </li>
            <li>
                @Html.ActionLink("船舶费用", "CostList")
                <i class="fa fa-circle"></i>
            </li>
            <li class="active">
                @ViewBag.Title
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->

        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list font-green-sharp"></i>
                            <span class="caption-subject font-green-sharp bold uppercase">@ViewBag.Title</span>
                        </div>
                        <div class="actions btn-set">
                            <a href="javascript:void(0)" class="btn btn-circle green btn-sm btn-search">
                                <i class="fa fa-search"></i> 搜索
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body form portlet-search">
                        <!-- BEGIN FORM-->
                        @using (Html.BeginForm("BalanceList", "VesselAccount", FormMethod.Get, new { @class = "form-horizontal" }))
                        {
                            <button type="submit" class="display-hide"></button>
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">船舶名称</label>
                                            <div class="col-md-9">
                                                @Html.DropDownList("VesselID", null, String.Empty, new { @class = "form-control select2me" })
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">船东</label>
                                            <div class="col-md-9">
                                                @Html.DropDownList("ShipownerID", null, String.Empty, new { @class = "form-control select2me" })
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                            </div>
                        }
                        <!-- END FORM-->
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable table-scrollable-borderless">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            船舶名称
                                        </th>
                                        <th>
                                            船东
                                        </th>
                                        <th>
                                            人民币账户余额
                                        </th>
                                        <th>
                                            美元账户余额
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.ActionLink(item.Vessel.Name, "Details", "Vessel", new { id = item.VesselID }, null)
                                            </td>
                                            <td>
                                                @Html.ActionLink(item.Shipowner.Name, "Details", "Shipowner", new { id = item.ShipownerID }, null)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Balance)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.USBalance)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        第 @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 页，共 @Model.PageCount 页

                        @Html.PagedListPager(Model, page => Url.Action("BalanceList",
                       new { page, VesselID = ViewBag.Vessel, ShipownerID = ViewBag.Shipowner }))
                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT -->
