@using PagedList.Mvc
@model PagedList.IPagedList<SailorDomain.Entities.Shipowner>

@{
    ViewBag.Title = "船东列表";
}

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
    <div class="container">
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                @Html.ActionLink("首页", "Index", "Home")
                <i class="fa fa-circle"></i>
            </li>
            <li>
                @Html.ActionLink("船东管理", "Index")
                <i class="fa fa-circle"></i>
            </li>
            <li class="active">
                @ViewBag.Title
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->

        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list font-green-sharp"></i>
                            <span class="caption-subject font-green-sharp bold uppercase">@ViewBag.Title</span>
                        </div>
                        <div class="actions btn-set">
                            <a href="@Url.Action("Create")" class="btn btn-circle green-haze btn-sm">
                                <i class="fa fa-plus"></i> 添加
                            </a>
                            <a href="javascript:void(0)" class="btn btn-circle green btn-sm btn-search">
                                <i class="fa fa-search"></i> 搜索
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body form portlet-search">
                        <!-- BEGIN FORM-->
                        @using (Html.BeginForm("Index", "Shipowner", FormMethod.Get, new { @class = "form-horizontal" }))
                        {
                            <button type="submit" class="display-hide"></button>
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">船东</label>
                                            <div class="col-md-9">
                                                @Html.TextBox("Name", ViewBag.Name as string, new { @class = "form-control", placeholder = "请船东名称" })
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">联系人</label>
                                            <div class="col-md-9">
                                                @Html.TextBox("Contacter", ViewBag.Contacter as string, new { @class = "form-control", placeholder = "请输入联系人" })
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">联系电话</label>
                                            <div class="col-md-9">
                                                @Html.TextBox("Telephone", ViewBag.Telephone as string, new { @class = "form-control", placeholder = "请输入联系电话" })
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                            </div>
                        }
                        <!-- END FORM-->
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable table-scrollable-borderless">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            船东名称
                                        </th>
                                        <th>
                                            联系人
                                        </th>
                                        <th>
                                            地址
                                        </th>
                                        <th>
                                            联系电话
                                        </th>
                                        <th>
                                            邮箱
                                        <th>
                                            网址
                                        <th>
                                            操作
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.ActionLink(item.Name, "Details", new { id = item.ShipownerID }, null)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Contacter)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Address)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Telephone)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Website)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Details", new { id = item.ShipownerID })" class="btn default btn-xs green-jungle">
                                                    <i class="fa fa-th"></i> 详情
                                                </a>
                                                <a href="@Url.Action("Edit", new { id=item.ShipownerID})" class="btn default btn-xs blue">
                                                    <i class="fa fa-edit"></i> 编辑
                                                </a>
                                                @if (User.IsInRole("CompanyAdmin"))
                                                {
                                                    <a href="javascript:Metronic.deleteItem('@Url.Action("Delete", new { id=item.ShipownerID})')" class="btn default btn-xs red">
                                                        <i class="fa fa-trash"></i> 删除
                                                    </a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        第 @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 页，共 @Model.PageCount 页

                        @Html.PagedListPager(Model, page => Url.Action("Index",
                        new { page, 
                            Contacter = ViewBag.Contacter, 
                            Name = ViewBag.Name,
                            Telephone = ViewBag.Telephone
                        }))
                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT -->
