@model SysCompany

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClientCompany</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contacter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contacter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpireTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpireTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SysCompanyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
