
@model IPagedList<Vessel>

@{
    ViewBag.Title = "船舶管理列表";
}

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
    <div class="container">
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                @Html.ActionLink("首页", "Index", "Home")
                <i class="fa fa-circle"></i>
            </li>
            <li>
                @Html.ActionLink("船舶管理", "ManagedList")
                <i class="fa fa-circle"></i>
            </li>
            <li class="active">
                @ViewBag.Title
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->

        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list font-green-sharp"></i>
                            <span class="caption-subject font-green-sharp bold uppercase">@ViewBag.Title</span>
                        </div>
                        <div class="actions btn-set">
                            <a href="@Url.Action("Create", new { VesselManageType = 1 })" class="btn btn-circle green-haze btn-sm">
                                <i class="fa fa-plus"></i> 添加
                            </a>
                            <a href="javascript:void(0)" class="btn btn-circle green btn-sm btn-search">
                                <i class="fa fa-search"></i> 搜索
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body form portlet-search">
                        <!-- BEGIN FORM-->
                        @using (Html.BeginForm("ManagedList", "Vessel", FormMethod.Get, new { @class = "form-horizontal" }))
                        {
                            <button type="submit" class="display-hide"></button>
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">船舶名称</label>
                                            <div class="col-md-9">
                                                @Html.TextBox("Name", ViewBag.Name as string, new { @class = "form-control", placeholder = "请输入船舶名称" })
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">船东</label>
                                            <div class="col-md-9">
                                                @Html.TextBox("ShipownerName", ViewBag.ShipownerName as string, new { @class = "form-control", placeholder = "请输入船东名称" })
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">IMO号</label>
                                            <div class="col-md-9">
                                                @Html.TextBox("IMO", ViewBag.IMO as string, new { @class = "form-control", placeholder = "请输入IMO号" })
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                            </div>
                        }
                        <!-- END FORM-->
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable table-scrollable-borderless">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            船舶名称
                                        </th>
                                        <th>
                                            所属船东
                                        </th>
                                        <th>
                                            IMO号
                                        </th>
                                        <th>
                                            证书
                                        </th>
                                        <th>
                                            账目
                                        </th>
                                        <th>
                                            操作
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.ActionLink(item.Name, "Details", new { id = item.VesselID }, null)
                                            </td>
                                            <td>
                                                @Html.ActionLink(item.ShipownerName, "Details", "Shipowner", new { id = item.ShipownerID }, null)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IMO)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("CertificateList", "VesselCertificate", new { VesselID = item.VesselID, VesselName=item.Name })" class="btn default btn-xs green-haze">
                                                    <i class="fa fa-file-text"></i> 证书列表
                                                </a>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("CostList", "VesselAccount", new { VesselID = item.VesselID, VesselName=item.Name })" class="btn default btn-xs green-jungle">
                                                    <i class="fa fa-film"></i> 流水账
                                                </a>
                                                <a href="@Url.Action("CostList", "VesselAccount", new { VesselID = item.VesselID, VesselName=item.Name, status="debt" })" class="btn default btn-xs yellow-lemon">
                                                    <i class="fa fa-credit-card"></i> 未付清款项
                                                </a>
                                                <a href="@Url.Action("DepositList", "VesselAccount", new { VesselID = item.VesselID, VesselName=item.Name })" class="btn default btn-xs blue-soft">
                                                    <i class="fa fa-music"></i> 汇款记录
                                                </a>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Details", new { id = item.VesselID })" class="btn default btn-xs green-jungle">
                                                    <i class="fa fa-th"></i> 详情
                                                </a>
                                                <a href="@Url.Action("Edit", new { id=item.VesselID})" class="btn default btn-xs blue">
                                                    <i class="fa fa-edit"></i> 编辑
                                                </a>
                                                @if (User.IsInRole("CompanyAdmin"))
                                                {
                                                    <a href="javascript:Metronic.deleteItem('@Url.Action("Delete", new { id=item.VesselID})')" class="btn default btn-xs red">
                                                        <i class="fa fa-trash"></i> 删除
                                                    </a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        第 @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 页，共 @Model.PageCount 页

                        @Html.PagedListPager(Model, page => Url.Action("Index",
                        new
                        {
                            page,
                            ShipownerName = ViewBag.ShipownerName,
                            Name = ViewBag.Name,
                            IMO = ViewBag.IMO,
                            ManageType = ViewBag.ManageType
                        }))
                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT -->


