@model ExamItem

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 id="myLargeModalLabel" class="modal-title">添加考试科目</h4>
            </div>
            <div class="portlet light">
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form asp-controller="Exam" asp-action="AddItem" class="form-horizontal" role="form" ajax-success="addSuccess">
                        <div class="form-body">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                @Html.LabelFor(model => model.ItemName, new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.HiddenFor(model => model.ExamID)
                                    @Html.EditorFor(model => model.ItemName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ItemName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ExamDate, new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.ExamDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ExamDate)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="Amount">
                                    @Html.DisplayNameFor(model => model.Score)
                                    <span class="required" aria-required="true">*</span>
                                </label>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Score, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Score)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Qualified, new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    <div class="icheck-inline">
                                        @Html.EditorFor(model => model.Qualified, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Qualified)
                                </div>
                            </div>

                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn green"><i class="fa fa-save"></i> 保存</button>
                                            <a class="btn default" href="javascript:void(0)" data-dismiss="modal"><i class="fa fa-undo"></i> 返回列表</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
</div>
