@model Title

@{
    ViewBag.Title = "职称详情";
}

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
    <div class="container">
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                @Html.ActionLink("首页", "Index", "Home")
                <i class="fa fa-circle"></i>
            </li>
            <li>
                @Html.ActionLink("职称管理", "Index")
                <i class="fa fa-circle"></i>
            </li>
            <li class="active">
                @ViewBag.Title
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->

        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-th font-green-sharp"></i>
                            <span class="caption-subject font-green-sharp bold uppercase">职称信息</span>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <form class="form-horizontal" role="form">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Sailor.Name, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                <p class="form-control-static">
                                                    @Html.ActionLink(Model.Sailor.Name, "Details", "Sailor", new { id=Model.SailorID}, null)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                <p class="form-control-static">
                                                    @Html.DisplayFor(model => model.Name)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Approach, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                <p class="form-control-static">
                                                    @Html.DisplayFor(model => model.Approach)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BeginDate, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                <p class="form-control-static">
                                                    @Html.DisplayFor(model => model.BeginDate)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.EndDate, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                <p class="form-control-static">
                                                    @Html.DisplayFor(model => model.EndDate)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Work, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                <p class="form-control-static">
                                                    @Html.DisplayFor(model => model.Work)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Major, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                <p class="form-control-static">
                                                    @Html.DisplayFor(model => model.Major)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Category, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                <p class="form-control-static">
                                                    @Html.DisplayFor(model => model.Category)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Post, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                <p class="form-control-static">
                                                    @Html.DisplayFor(model => model.Post)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Company, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                <p class="form-control-static">
                                                    @Html.DisplayFor(model => model.Company)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.EngageDate, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                <p class="form-control-static">
                                                    @Html.DisplayFor(model => model.EngageDate)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Remark, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                <p class="form-control-static">
                                                    @Html.DisplayFor(model => model.Remark)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->

                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <a href="@Url.Action("Edit", new { id = Model.TitleID })" class="btn green"><i class="fa fa-pencil"></i> 编辑</a>
                                                <a href="@Url.Action("Index")" class="btn default"><i class="fa fa-undo"></i> 返回列表</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT -->
