@model SailorDomain.Entities.Shipowner

@{
    ViewBag.Title = "船东详情";
}

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
    <div class="container">
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                @Html.ActionLink("首页", "Index", "Home")
                <i class="fa fa-circle"></i>
            </li>
            <li>
                @Html.ActionLink("船东管理", "Index")
                <i class="fa fa-circle"></i>
            </li>
            <li class="active">
                @ViewBag.Title
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->

        <div class="row">
            <div class="col-md-12">
                <div class="tabbable tabbable-custom tabbable-noborder tabbable-reversed">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab_shipowner" data-toggle="tab">
                                船东信息
                            </a>
                        </li>
                        <li>
                            <a href="#tab_vessel" data-toggle="tab">
                                所辖船舶
                            </a>
                        </li>
                        <li>
                            <a href="#tab_contract" data-toggle="tab">
                                签署合同
                            </a>
                        </li>
                        <li>
                            <a href="#tab_servicerecord" data-toggle="tab">
                                服务评价
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_shipowner">
                            <div class="portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-users"></i>船东信息
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <!-- BEGIN FORM-->
                                    <form class="form-horizontal" role="form">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-3" })
                                                        <div class="col-md-9">
                                                            <p class="form-control-static">
                                                                @Html.DisplayFor(model => model.Name)
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Contacter, new { @class = "control-label col-md-3" })
                                                        <div class="col-md-9">
                                                            <p class="form-control-static">
                                                                @Html.DisplayFor(model => model.Contacter)
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-3" })
                                                        <div class="col-md-9">
                                                            <p class="form-control-static">
                                                                @Html.DisplayFor(model => model.Address)
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Telephone, new { @class = "control-label col-md-3" })
                                                        <div class="col-md-9">
                                                            <p class="form-control-static">
                                                                @Html.DisplayFor(model => model.Telephone)
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Fax, new { @class = "control-label col-md-3" })
                                                        <div class="col-md-9">
                                                            <p class="form-control-static">
                                                                @Html.DisplayFor(model => model.Fax)
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-3" })
                                                        <div class="col-md-9">
                                                            <p class="form-control-static">
                                                                @Html.DisplayFor(model => model.Email)
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Website, new { @class = "control-label col-md-3" })
                                                        <div class="col-md-9">
                                                            <p class="form-control-static">
                                                                @Html.DisplayFor(model => model.Website)
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Representative, new { @class = "control-label col-md-3" })
                                                        <div class="col-md-9">
                                                            <p class="form-control-static">
                                                                @Html.DisplayFor(model => model.Representative)
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/row-->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.PostalCode, new { @class = "control-label col-md-3" })
                                                        <div class="col-md-9">
                                                            <p class="form-control-static">
                                                                @Html.DisplayFor(model => model.PostalCode)
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->

                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-offset-3 col-md-9">
                                                            <a href="@Url.Action("Edit", new { id = Model.ShipownerID })" class="btn green"><i class="fa fa-pencil"></i> 编辑</a>
                                                            <a href="@Url.Action("Index")" class="btn default"><i class="fa fa-undo"></i> 返回列表</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- END FORM-->
                                </div>
                                </div>
                        </div>
                        <div class="tab-pane" id="tab_vessel">
                            <div class="portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-ship"></i>所辖船舶
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                                                    <div class="portlet light">
                                                        <div class="portlet-body">
                                                            <table class="table table-hover table-striped table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            船舶名称
                                                                        </th>
                                                                        <th>
                                                                            IMO号
                                                                        </th>
                                                                        <th>
                                                                            船舶类型
                                                                        </th>
                                                                        <th>
                                                                            航区
                                                                        </th>
                                                                        <th>
                                                                            管理人
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var item in Model.Vessels.OrderByDescending(v => v.VesselID))
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @Html.ActionLink(item.Name, "Details", "Vessel", new { id = item.VesselID }, null)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.IMO)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.Type)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.SailZone)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.Manager)
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>

                                                        </div>
                                                    </div>
                                                    <!-- END SAMPLE TABLE PORTLET-->
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-offset-3 col-md-9">
                                                            <a href="@Url.Action("Create", "Vessel", new { ShipownerID = Model.ShipownerID, medium = "shipowner" })" class="btn green"><i class="fa fa-plus"></i> 添加船舶</a>
                                                            <a href="@Url.Action("Index", "Sailor", new { id = Model.ShipownerID })" class="btn default"><i class="fa fa-undo"></i> 返回列表</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_contract">
                            <div class="portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-tag"></i>签署合同
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <!-- BEGIN FORM-->
                                    <form class="form-horizontal" role="form">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                                                    <div class="portlet light">
                                                        <div class="portlet-body">
                                                            <table class="table table-hover table-striped table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            合同号
                                                                        </th>
                                                                        <th>
                                                                            船舶名称
                                                                        </th>
                                                                        <th>
                                                                            船员姓名
                                                                        </th>
                                                                        <th>
                                                                            职务
                                                                        </th>
                                                                        <th>
                                                                            船付工资
                                                                        </th>
                                                                        <th>
                                                                            家汇工资
                                                                        </th>
                                                                        <th>
                                                                            上船日期
                                                                        </th>
                                                                        <th>
                                                                            下船日期
                                                                        </th>
                                                                        <th>
                                                                            备注
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var item in Model.Contracts.OrderByDescending(c => c.ContractID))
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.ContractNo)
                                                                            </td>
                                                                            <td>
                                                                                @Html.ActionLink(item.VesselName, "Details", "Vessel", new { id = item.VesselID }, null)
                                                                            </td>
                                                                            <td>
                                                                                @Html.ActionLink(item.SailorName, "Details", "Sailor", new { id = item.SailorID }, null)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.Post)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.ShipWage)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.HomeWage)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.AboardDate)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.AshoreDate)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.Remark)
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>

                                                        </div>
                                                    </div>
                                                    <!-- END SAMPLE TABLE PORTLET-->
                                                </div>
                                            </div>

                                            <!--/row-->
                                        </div>
                                    </form>
                                    <!-- END FORM-->
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_servicerecord">
                            <div class="portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-thumbs-o-up"></i>服务记录及评价
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <!-- BEGIN FORM-->
                                    <form class="form-horizontal" role="form">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                                                    <div class="portlet light">
                                                        <div class="portlet-body">
                                                            <table class="table table-hover table-striped table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            船舶名称
                                                                        </th>
                                                                        <th>
                                                                            船员姓名
                                                                        </th>
                                                                        <th>
                                                                            职务
                                                                        </th>
                                                                        <th>
                                                                            上船日期
                                                                        </th>
                                                                        <th>
                                                                            下船日期
                                                                        </th>
                                                                        <th>
                                                                            评价
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var item in Model.ServiceRecords.OrderByDescending(s => s.ServiceRecordID))
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @Html.ActionLink(item.VesselName, "Details", "Vessel", new { id = item.VesselID }, null)
                                                                            </td>
                                                                            <td>
                                                                                @Html.ActionLink(item.SailorName, "Details", "Sailor", new { id = item.SailorID }, null)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.Post)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.AboardDate)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.AshoreDate)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.Comment)
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>

                                                        </div>
                                                    </div>
                                                    <!-- END SAMPLE TABLE PORTLET-->
                                                </div>
                                            </div>

                                            <!--/row-->
                                        </div>
                                    </form>
                                    <!-- END FORM-->
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
</div>
<!-- END PAGE CONTENT -->

@section scripts{
    <script>
        $(function () {
            var tab = '@Request.QueryString["tab"]';
            if (tab) {
                tab = '#' + tab;
                $('a[href='+tab+']').get(0).click();
            }
            
            Metronic.initDataTableFormat($('div.tab-pane table'));
        })
    </script>
    }

